###############################################################################
# COMMANDS.CFG - SAMPLE COMMAND DEFINITIONS FOR OPENSTACK ICINGA
#
# NOTES: This config file provides you with some example command definitions
#        that you can reference for the openstack fuctional tests.
#       
#        You don't need to keep commands in a separate file from your other
#        object definitions.  This has been done just to make things easier to
#        understand.
#
###############################################################################

# NOVA ########################################################################

# 'nova_list' command definition
define command {
        command_name    nova_list
        command_line    $USER1$/nova_list.sh -w $ARG1$ -c $ARG2$
}

# 'nova_ram_usage' command definition
define command {
        command_name    nova_ram_usage
        command_line    $USER1$/nova_ram_usage.sh -w $ARG1$ -c $ARG2$
}

# 'nova_instance_usage' command definition
define command {
        command_name    nova_instance_usage
        command_line    $USER1$/nova_instance_usage.sh -w $ARG1$ -c $ARG2$
}



# SWIFT #######################################################################

# 'swift_stat' command definition
define command {
        command_name    swift_stat
        command_line    $USER1$/swift_stat.sh -w $ARG1$ -c $ARG2$
}

# 'swift_upload' command definition
define command {
        command_name    swift_upload
        command_line    $USER1$/swift_upload.sh -w $ARG1$ -c $ARG2$
}

# CINDER ########################################################################

# 'cinder_list' command definition
define command {
        command_name    cinder_list
        command_line    $USER1$/cinder_list.sh -w $ARG1$ -c $ARG2$
}

# 'cinder_list' command definition
define command {
        command_name    cinder_create
        command_line    $USER1$/cinder_create.sh -w $ARG1$ -c $ARG2$
}

# 'cinder_volume_usage' command definition        
define command {
        command_name    cinder_volume_usage
        command_line    $USER1$/cinder_volume_usage.sh -w $ARG1$ -c $ARG2$
}
        
# 'cinder_gigabyte_usage' command definition
define command {
        command_name    cinder_gigabyte_usage
        command_line    $USER1$/cinder_gigabyte_usage.sh -w $ARG1$ -c $ARG2$
}
 
