
#########################################################
#Set OpenStack envirmontal varibles                     #
#for an explanation of varibles please see our wiki     #
#                                                       #
#########################################################

export OS_TENANT_NAME=
export OS_USERNAME=
export OS_PASSWORD=
export OS_AUTH_URL=https://region-b.geo-1.identity.hpcloudsvc.com:35357/v2.0/
export OS_REGION_NAME=region-b.geo-1


#########################################################
#Program locations (if unsure leave them as is)         #
#########################################################

# openstack clients
NOVA=/usr/bin/nova
SWIFT=/usr/bin/swift
CINDER=/usr/bin/cinder
NEUTRON=/usr/bin/neutron
 
# linux defaults
GREP=/bin/grep
CUT=/bin/cut
TR=/usr/bin/tr
 
