###############################################################################
# COMMANDS.CFG - SAMPLE HOST DEFINITIONS FOR OPENSTACK ICINGA (SWIFT)
#
# NOTES: This config file provides you with some example host and service
#        definitions that you can reference for the openstack fuctional tests.
#
#        You don't need to keep definitions in a separate file from your other
#        definitions.  This has been done just to make things easier to
#        understand.
#
###############################################################################

###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     fuctional-tests            ; Name of host template to use
                                                           ; This host definition will inherit all variables that are defined
                                                           ; in (or inherited by) the linux-server host template definition.
        host_name               swift
        alias                   swift
        address                 127.0.0.1
        check_command           swift_stat!5!15
        }

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to check swift stat

define service{
        use                             fuctional-service         ; Name of service template to use
        host_name                       swift
        service_description             Swift stat
        check_command                   swift_stat!5!15
        }

# Define a service to check swift upload

define service{
        use                             fuctional-service         ; Name of service template to use
        host_name                       swift
        service_description             Swift upload
        check_command                   swift_upload!15!30
        }

